.correct-icon {
  width: 120px;
  height: 120px;
  background: rgba(57, 150, 94, 0.2);
  border-radius: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  color: #39965e;
}
