@media only screen and (max-width: 640px) {
  .footer {
    background: url('/images/footer/footer-background-mobile.webp') no-repeat;
    object-fit: cover;
    background-position: bottom right;
    background-size: cover;
    padding: 16px 16px;
  }
  .wrapper-footer .credit {
    padding: 27px 72px;
    background: url('/images/footer/footer-decoration-mobile.webp') no-repeat;
    background-size: 100% 100%;
  }
}

@media only screen and (min-width: 640px) {
  .footer {
    background: url('/images/footer/footer-background.webp') no-repeat;
    background-size: 100% 100%;
    padding: 48px 48px 48px 0;
  }
  .wrapper-footer .credit {
    padding: 27px 72px;
    background: url('/images/footer/footer-decoration-2.webp') no-repeat;
    background-size: 100% 100%;
  }
}

/* Footer */
.footer {
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.6);
}

.wrapper-footer .credit p {
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  color: #21243a;
}

.footer-link .dot {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}
